@charset "utf-8";
body{
	background: url(https://www.hd-tecnologia.com/imagenes/articulos/2020/07/PES-2022-utilizar%C3%A1-Unreal-Engine-remodelando-por-completo-sus-f%C3%ADsicas-y-gr%C3%A1ficas.jpg);
    background-repeat: no-repeat;
	background-size: cover;
		
}


