@charset "utf-8";
body {color: blue;
text-align:center; }
  #primero {font-size: 12;  font-family: algerian; text-transform: uppercase}
  #segundo {font-size: 12;  font-family: Bahnschrift; font-style: italic}
  #tercero {font-size: 12;  font-family: Segoe Print; font-weight: 900}
