@charset "utf-8";
body{
	background: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2019/04/conan-exiles_12.jpg);
    background-repeat: no-repeat;
	background-size: cover;
		
}

